body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons{
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons{
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons img {
  width: 30px;
  border-radius: 50%;
}